{% extends 'shop/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}
    {% if category %}{{ category.name }} {% else %} Products {% endif %}
{% endblock %}

{% block content %}
 <div class="row">
             <button class="btn btn-info pull-right">
                {% with totail_items=cart|length %}
                    {% if cart|length > 0 %}
                        Order:
                        <a href="{% url "cart:cart_detail" %}" style="color: #ffffff">
                            {{ totail_items }} item {{ totail_items|pluralize }}
                        </a>
                        {% else %}
                        Your cart is empty.
                    {% endif %}
                {% endwith %}
             </button>
        </div> 
   <div class="container-fluid">
      <div class="row" >
        <div class="col-sm-9 blog-main padAll">
          <div class="padAll">
            <input id="search" type="text" class="form-control" placeholder="Search..">
          </div>  
          <div id="searchArea">
          <div class="blog-post padAll">
              <div class="row">
                  {% for product in products %}
                      <div class="col-md-2">
                        <div class="thumbnail">
                            <div class="caption" style="max-height: 100px">
                                <h6 class="text-center">
                                    <a href="#product{{ product.id}}" class="btn btn-sm btn-info" data-toggle="modal">{{ product.name }}</a>
                                </h6>
                                <p class="text-center">USD {{ product.price }}</p>
                                
                            </div>
                        </div>
                      </div>
                  {% endfor %}
              </div>
            </div>
          </div><!-- /.blog-post -->
        </div><!-- /.blog-main -->

        <div class="col-sm-3 blog-sidebar">
          <div class="sidebar-module">
            <h4>Categories</h4>
            <ol class="list-unstyled">
              <li {% if not category %} class="active"{% endif %}><a href="{% url 'shop:product_list' %}">All</a></li>
            {% for c in categories %}

              <li {% if category.slug == c.slug %} class="active"{% endif %}>
                  <a href="{{ c.get_absolute_url }}">{{ c.name }}</a>
              </li>
            {% endfor %}
            </ol>
          </div>
        </div><!-- /.blog-sidebar -->
      </div><!-- /.row -->
    </div><!-- /.container -->

  {% for product in products %}
    <div class="modal right fade"  id="product{{product.id}}"  tabindex="-1" role="dialog" aria-labelledby="myModalLabel2">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header bg-dark">
          <button type="button" onclick="javascript:window.location.reload()" class="close" data-dismiss="modal" aria-hidden="true">Close</button>
        </div>
        <div class="modal-body">
          <iframe src="{{ product.get_absolute_url }}" frameborder="0" height="600" width="100%"></iframe>
          </p>
        </div>
      </div><!-- modal-content -->
    </div><!-- modal-dialog -->
  </div><!-- modal -->
{% endfor %}
{% endblock %}