{% extends "base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% block container %}
<div class="col-md-12">
    <form method="POST" class="my-ajax-form" data-url="/save/">{% csrf_token %}
      <div class="row">
          <div class="col-md-12 pad">
            <!-- {{form.as_p}} -->
              <input type="text" class="form-control" value="" name="name" placeholder="Currency">
              <input type="text" name="category" value="currency">
          </div>
           <div class="col-md-12 pad">
              <button type="submit" class="btn btn-lg btn-info">Save</button>
          </div>
          <input type="text" name="user_id" value="{{user.id}}">
    </form>
</div> 
{% endblock container %}

{% block javascript %}

<script type="text/javascript">
    
</script>
    
{% endblock javascript %} 