{% extends "base_b.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block container %}
<div class="col-md-12">
    <form method="POST" class="my-ajax-form" data-url="/save/">{% csrf_token %}
      <div class="row">
          <div class="col-md-12 padAll">
            <!-- {{form.as_p}} -->
              <input type="text" class="form-control" value="" name="name" placeholder="Commitment">
              <input type="hidden" name="category" value="commitment">
          </div>
           <div class="col-md-12 padAll">
              <button type="submit" class="btn btn-lg btn-info">Save</button>
          </div>
          <input type="hidden" name="user_id" value="{{user.id}}">
    </form>
</div> 
{% endblock container %}

{% block javascript %}

<script type="text/javascript">
    
</script>
    
{% endblock javascript %} 