<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
<title>ProFaith</title>
<!-- InstanceEndEditable -->

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
   <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <script src="{% static 'js/angular.min.js'%}"></script>
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>



<style type="text/css">
body {
  font-size: 12px !important;
}
.padAll {
  padding:10px;
}
 
</style>

  </head>
<body>
            {% block container %}

            {% endblock container %}
    
<script src="{% static 'bootstrap/js/jquery-slim.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/popper.min.js' %}"></script>
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <script src="{% static 'bootstrap/js/holder.min.js' %}"></script>
 <script type="text/javascript" src="{% static 'js/plugin.js' %}"></script>
{% block javascript %}
    
{% endblock javascript %} 
</body>
</html>
