<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% for rw in headings %}
    {% if rw.category == 'title' %}
      {{rw.name}}
      {% endif %}
    {% endfor %}{% endblock %}</title>
    <!-- <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"> -->
<link href="{% static 'css/dump.css' %}" rel="stylesheet">
<link href="{% static 'b3/css/bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'css/dump.css' %}" rel="stylesheet">

  <!-- Highcharts -->
<script src="{% static 'highcharts/code/highcharts.js' %}"></script>
<script src="{% static 'highcharts/code/modules/exporting.js' %}"></script>
<script src="{% static 'highcharts/code/modules/export-data.js' %}"></script>

</head>
<body>

        
<div id="wrapper">
      <!-- Sidebar -->
      <div id="sidebar-wrapper">
      <ul id="sidebar_menu" class="sidebar-nav">
      </ul>
        <ul class="sidebar-nav" id="sidebar">
          <li class="sidebar-brand"><a id="menu-toggle" href="#">MENU<span id="main_icon"<span style="font-size:20px; padding-right: 10px;"  class="glyphicon glyphicon-align-justify"></span></a></li>
          
          <li><a href="{% url 'home' %}"><span style="font-size:20px; padding: 10px" class="pull-right hidden-xs showopacity glyphicon glyphicon-home"></span>Dashboard </a></li>
        {% if user_p %}
          {% if user_p.access_level == 1 %}  
          
          {% else %}
          <li><a href="{% url 'members' r.department %}"><span style="font-size:20px; padding: 10px" class="pull-right hidden-xs showopacity glyphicon glyphicon-user"></span>People </a></li>
          {% endif %}
        {% endif %}  
          {% if user_p.department == 'Sales' or user.is_superuser  %}
          <li><a href="{% url 'shop:product_list' %}"><span style="font-size:20px; padding: 10px" class="pull-right hidden-xs showopacity glyphicon glyphicon-shop"></span>Merchandise </a></li>
          {% endif %}

          {% if user_p.department == 'Media' or user.is_superuser  %}
          <li><a href="#upload" data-toggle="modal"><span style="font-size:20px; padding: 10px" class="pull-right hidden-xs showopacity glyphicon glyphicon-camera"></span>Media </a></li>
          {% else %}
          {% endif %}
          {% if user.is_superuser %} 
          <li><a href="#settings" data-toggle="modal">Settings <span style="font-size:20px; padding: 10px" class="pull-right hidden-xs showopacity glyphicon glyphicon-cog"></span></a></li>
          {% endif %}
        </ul>
      </div>

<!-- Page content -->
      <div id="page-content-wrapper">
        <!-- Keep all page content within the page-content inset div! -->
        {% include 'shop/navbar.html' %}
	     {% block header %}

       {% endblock %}

				{% block content %}


				{% endblock %}

<nav class="navbar navbar-inverse navbar-fixed-bottom">
  <div class="col-12" style="font-size: 12px; padding: 15px; color: #fff; text-align: right">
    <span class="text-white"><p id="demo"></p></span>
  </div>
</nav>

<!-- Member information -->
{% for rw in members %}
<div id="mySidenav" class="sidenav">
      <a href="javascript:void(0)" class="closebtn" onmouseover ="closeSide()">&times;</a>
  <iframe src="{% url 'member-detail' rw.id %}" frameborder="0" height="600" width="100%"></iframe>
    
</div>   
{% endfor %}

 <div class="modal right fade"  id="addMember"  tabindex="-1" role="dialog" aria-labelledby="myModalLabel2">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
      	<div class="modal-header bg-dark">
        <button type="button" onclick="javascript:window.location.reload()" class="close" data-dismiss="modal" aria-hidden="true">          Close</button>
     </div>
        <div class="modal-body" style="padding: 10px 0 ">
          <iframe src="{% url 'ajax-add-member' %}" frameborder="0" height="615" width="100%"></iframe>
          </p>
        </div>

      </div><!-- modal-content -->
    </div><!-- modal-dialog -->
  </div><!-- modal -->

 <div class="modal right2 fade"  id="calendar"  tabindex="-1" role="dialog" aria-labelledby="myModalLabel2">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body" style="padding: 0 ">
          <iframe src="{% url 'calendar' %}" frameborder="0" height="627" width="100%"></iframe>
          </p>
        </div>

      </div><!-- modal-content -->
    </div><!-- modal-dialog -->
  </div><!-- modal -->

<div class="modal right fade"  id="settings"  tabindex="-1" role="dialog" aria-labelledby="myModalLabel2">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header bg-dark">
          <button type="button" onclick="javascript:window.location.reload()" class="close" data-dismiss="modal" aria-hidden="true">          Close</button>
        </div>
        <div class="modal-body">
          <iframe src="{% url 'site-title' %}" frameborder="0" height="600" width="100%"></iframe>
          </p>
        </div>

      </div><!-- modal-content -->
    </div><!-- modal-dialog -->
  </div><!-- modal -->
  
<div class="modal right fade"  id="upload"  tabindex="-1" role="dialog" aria-labelledby="myModalLabel2">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header bg-dark">
          <button type="button" onclick="javascript:window.location.reload()" class="close" data-dismiss="modal" aria-hidden="true">          Close</button>
        </div>
        <div class="modal-body">
          <iframe src="{% url 'sermons' %}" frameborder="0" height="600" width="100%"></iframe>
          </p>
        </div>

      </div><!-- modal-content -->
    </div><!-- modal-dialog -->
  </div><!-- modal -->

  <div class="modal right fade"  id="uploadHymns"  tabindex="-1" role="dialog" aria-labelledby="myModalLabel2">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header bg-dark">
          <button type="button" onclick="javascript:window.location.reload()" class="close" data-dismiss="modal" aria-hidden="true">          Close</button>
        </div>
        <div class="modal-body">
          <iframe src="{% url 'hymnals' %}" frameborder="0" height="600" width="100%"></iframe>
          </p>
        </div>

      </div><!-- modal-content -->
    </div><!-- modal-dialog -->
  </div><!-- modal -->





{% for rw in members %}
<!-- Modal -->
  <div class="modal right fade"  id="member{{rw.id}}"  tabindex="-1" role="dialog" aria-labelledby="myModalLabel2">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header bg-dark">
        <button type="button" onclick="javascript:window.location.reload()" class="close" data-dismiss="modal" aria-hidden="true">          Close</button>
     </div>
        <div class="modal-body">
          <iframe src="{% url 'member-detail' rw.id %}" frameborder="0" height="600" width="100%"></iframe>
          </p>
        </div>

      </div><!-- modal-content -->
    </div><!-- modal-dialog -->
  </div><!-- modal -->

{% endfor %}
    
{% for rw in transactions %}
<div class="modal fade bd-finance-modal-lg" id="receipt{{rw.id}}" role="dialog">
        <div class="modal-dialog">
          <!-- Modal content-->
              <div class="modal-content">
                <div class="modal-header bg-dark">
                    <button type="button" onclick="javascript:window.location.reload()" class="close" data-dismiss="modal" aria-hidden="true">          Close</button>
                 </div>
                    <div class="modal-body" style="color:#000">
                        <iframe src="{% url 'single_rec' rw.id %}" frameborder="0" height="550" width="100%"></iframe>
                    </div>

              </div>
         </div>
    </div>    
{% endfor %}

{% for rw in row %}
<div id="editSermon{{rw.id}}"  class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">
          <!-- Modal content-->
              <div class="modal-content">
                    <div class="modal-header bg-dark">
                      <button type="button" onclick="javascript:window.location.reload()" class="close" data-dismiss="modal" aria-hidden="true">          Close</button>
                   </div>

                    <div class="modal-body" style="color:#000; height: 670px">
                        <iframe src="{% url 'edit-sermon' rw.id %}" frameborder="0" height="650" width="100%"></iframe>
                    </div>
              </div>
         </div>
    </div>
{% endfor %}

{% for rw in row %}
<div id="editHymnal{{rw.id}}"  class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">
          <!-- Modal content-->
              <div class="modal-content">
                    <div class="modal-header bg-dark">
                      <button type="button" onclick="javascript:window.location.reload()" class="close" data-dismiss="modal" aria-hidden="true">          Close</button>
                   </div>

                    <div class="modal-body" style="color:#000; height: 670px">
                        <iframe src="{% url 'edit-hymnal' rw.id %}" frameborder="0" height="650" width="100%"></iframe>
                    </div>
              </div>
         </div>
    </div>
{% endfor %}

{% for rw in row %}
<div id="viewSermon{{rw.id}}"  class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">
          <!-- Modal content-->
              <div class="modal-content">

                    <div class="modal-header bg-dark">
                      <button type="button" onclick="javascript:window.location.reload()" class="close" data-dismiss="modal" aria-hidden="true">          Close</button>
                   </div>

                    <div class="modal-body" style="color:#000; height: 670px">
                            <div class="col-md-12">
                                <iframe src="{% url 'sermon' rw.id %}" frameborder="0" height="650" width="100%"></iframe>
                            </div>
                    </div>
              </div>
         </div>
    </div>
{% endfor %}

{% for rw in row %}
<div id="viewHymnal{{rw.id}}"  class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">
          <!-- Modal content-->
              <div class="modal-content">

                    <div class="modal-header bg-dark">
                      <button type="button" onclick="javascript:window.location.reload()" class="close" data-dismiss="modal" aria-hidden="true">          Close</button>
                   </div>

                    <div class="modal-body" style="color:#000; height: 670px">
                            <div class="col-md-12">
                                <iframe src="{% url 'hymnal' rw.id %}" frameborder="0" height="650" width="100%"></iframe>
                            </div>
                    </div>
              </div>
         </div>
    </div>
{% endfor %}


<div class="modal fade bd-upload-modal-lg" id="merchandise" role="dialog">
    <div class="modal-dialog modal-lg">
      <!-- Modal content-->
          <div class="modal-content">
                <div class="modal-header bg-dark">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">          Close</button>
               </div>
                <div class="modal-body" style="color:#000">
                        <div class="row container">
                            <div class="col-md-12" style="min-height:500px">
                                <iframe src="{% url 'stocks' %}" frameborder="0" height="630" width="100%"></iframe>
                            </div>
                    </div>
                </div>

          </div>
     </div>
</div>

<div id="incomehead" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header bg-dark">
          <button type="button" onclick="javascript:window.location.reload()" class="close" data-dismiss="modal" aria-hidden="true">          Close</button>
       </div>
      <div class="modal-body">
        <iframe src="{% url 'add-incomehead' %}" frameborder="0" width="100%"></iframe>
      </div>
    </div>
  </div>
</div>

<div id="addCommitment" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header bg-dark">
          <button type="button" onclick="javascript:window.location.reload()" class="close" data-dismiss="modal" aria-hidden="true">          Close</button>
       </div>
      <div class="modal-body">
        <iframe src="{% url 'add-commitment' %}" frameborder="0" width="100%"></iframe>
      </div>
    </div>
  </div>
</div>

<div class="modal fade bd-currency" id="currency" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header bg-dark">
        <button type="button" onclick="javascript:window.location.reload()" class="close" data-dismiss="modal" aria-hidden="true">          Close</button>
     </div>
      <div class="modal-body" style="color:#000">
        <iframe src="{% url 'add-currency' %}" frameborder="0" width="100%"></iframe>
      </div>
    </div>
  </div>
</div>

<div class="modal right fade"  id="addGroup"  tabindex="-1" role="dialog" aria-labelledby="myModalLabel2">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header bg-dark">
        <button type="button" onclick="javascript:window.location.reload()" class="close" data-dismiss="modal" aria-hidden="true">          Close</button>
     </div>
        <div class="modal-body">
          <iframe src="{% url 'add-group' %}" frameborder="0" height="600" width="100%"></iframe>
          </p>
        </div>

      </div><!-- modal-content -->
    </div><!-- modal-dialog -->
  </div><!-- modal -->

<div class="modal fade"  id="attendance"  tabindex="-1" role="dialog" aria-labelledby="myModalLabel2">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header bg-dark">
        <button type="button" onclick="javascript:window.location.reload()" class="close" data-dismiss="modal" aria-hidden="true">          Close</button>
     </div>
        <div class="modal-body">
          <iframe src="{% url 'attendance' %}" frameborder="0" height="250" width="100%"></iframe>
          </p>
        </div>

      </div><!-- modal-content -->
    </div><!-- modal-dialog -->
  </div><!-- modal -->



<script src="{% static 'js/jquery.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/bootstrap.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/angular.min.js'%}"></script>
<script src="{% static 'js/plugin.js' %}"></script>
<script>
function openNav() {
  document.getElementById("mySidenav").style.width = "250px";
  document.getElementById("main").style.marginLeft = "250px";
  // document.body.style.backgroundColor = "rgba(0,0,0,0.4)";
}

function closeNav() {
  document.getElementById("mySidenav").style.width = "0";
  document.getElementById("main").style.marginLeft= "0";
  document.body.style.backgroundColor = "white";
}


    // using jQuery
  function getCookie(name) {
      var cookieValue = null;
      if (document.cookie && document.cookie !== '') {
          var cookies = document.cookie.split(';');
          for (var i = 0; i < cookies.length; i++) {
              var cookie = jQuery.trim(cookies[i]);
              // Does this cookie string begin with the name we want?
              if (cookie.substring(0, name.length + 1) === (name + '=')) {
                  cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                  break;
              }
          }
      }
      return cookieValue;
  }

  var csrftoken = getCookie('csrftoken');

  function csrfSafeMethod(method) {
      // these HTTP methods do not require CSRF protection
      return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
  }
  $.ajaxSetup({
      beforeSend: function(xhr, settings) {
          if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
              xhr.setRequestHeader("X-CSRFToken", csrftoken);
          }
      }
  });

var d = new Date();
var n = d.getFullYear();
var c = "© "
var r = "Professional Faith Management System : Version 0.1";
document.getElementById("demo").innerHTML = c + n + " " + r;


</script>

<script src="{% static 'js/jquery.min.js' %}"></script>
 <script>
$(document).ready(function(){
  $("#myInput").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#search tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});
</script>

<script>
$(document).ready(function(){
  $("#search").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#searchArea *").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});

$("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("active");
});

</script>

</body>
</html>