{% extends "base_b.html" %}
{% load static %}
{% load crispy_forms_tags %}
 {% block container %}

<div class="row">
  <div class="col-md-12" style="padding-bottom: 10px">
    <a href="{% url 'upload-hymnal' %}" class="btn btn-sm btn-info">Upload New Hymnal</a>
  </div>
    <div class="col-12">

  <table id="myTable" width="100%" class="table table-hover">
    <tr class="header">
      <th style="width:30%;">Song Title</th>
      <th style="width:20%;">Genre</th>
      <th style="width:20%;">Artist</th>
      <th style="width:20%;">Album</th>
      </tr>
    {% for rw in row %}
      <tr>
        <td style="text-transform:capitalize"></span><a href="{% url 'hymnal' rw.id %}">{{rw.SongTitle}}</a></td>
        <td>{{rw.Genre}}</td>
       <td><a href="{% url 'edit-hymnal' rw.id %}">{{rw.Artist}}</a></td>
       <td>{{rw.updated}}</td>
        </tr>
      {% endfor %}

    </table>

    <div class="row">
        <div class="col-12">
        <nav>
            <ul class="pagination">
              <li>{% if row.has_previous %}
                <a href="?{{page_request_var}}={{ row.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }} {% endif%}">
                  <span aria-hidden="true">&laquo;</span>
                </a>
                 {% endif %}
              </li>

              <li><a href="#">{{ row.number }} of {{ row.paginator.num_pages }}</a></li>

              <li>{% if row.has_next %}
                <a href="?{{page_request_var}}={{ row.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }} {% endif%}">
                  <span aria-hidden="true">&raquo;</span>
                </a>
                {% endif %}
              </li>
            </ul>
      </nav>
    </div>
        </div>
    </div>
  </div>
<!-- Modal -->
{% for rw in row %}
<div class="modal" id="video{{rw.id}}" role="dialog">
        <div class="modal-dialog modal-lg">
          <!-- Modal content-->
              <div class="modal-content">
                    <div class="modal-body">
                        <center><h1>{{rw.title}}</h1></center>
                        <div class="col-md-12" style="padding: 40px">
                          <video id="bgvid"  height="300" controls> <!-- replace **image link** with your own file -->
                            <source src="{% static 'img/' %}{{rw.video}}" type="video/mp4"><!-- replace **video link** with your own file -->
                          </video>
                        </div>
                    </div>

                    <div class="modal-footer">
                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">Close</button>
                   </div>
              </div>
         </div>
    </div>
{% endfor %}




<script>
function myFunction() {
  var input, filter, table, tr, td, i;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("myTable");
  tr = table.getElementsByTagName("tr");
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[0];
    if (td) {
      if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  }
}
</script>


{% endblock %}
<!-- InstanceEndEditable -->

