{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block header %}
<style type="text/css">
  .counter {
    background-color:#f5f5f5;
    padding: 20px 0;
    border-radius: 5px;
}

.count-title {
    font-size: 40px;
    font-weight: normal;
    margin-top: 10px;
    margin-bottom: 0;
    text-align: center;
}

.count-text {
    font-size: 13px;
    font-weight: normal;
    margin-top: 10px;
    margin-bottom: 0;
    text-align: center;
}

.fa-2x {
    margin: 0 auto;
    float: none;
    display: table;
    color: #4ad1e5;
}
</style>
    <div class="row">
      <div class="col-md-7">
           <div class="col-md-4">
          <div class="counter">
      <i class="fa fa-users fa-lg"></i>
      <h2 class="count-title">{{totalCount}}</h2>
       <p class="count-text ">Total Members</p>
    </div>
          </div>
              <div class="col-md-4">
               <div class="counter">
      <i class="fa fa-female fa-2x"></i>
      <h2 class="count-title">{{totalFemale}}</h2>
      <p class="count-text ">Women</p>
    </div>
              </div>
              <div class="col-md-4">
                  <div class="counter">
      <i class="fa fa-male fa-2x"></i>
      <h2 class="count-title">{{totalMen}}</h2>
      <p class="count-text ">Men</p>
    </div>
  </div>
</div>

    <div class="col-md-5">
              <div class="col-md-12">
              <div id="container" style="height: 172px"></div>
              </div>
         </div>
       </div>
{% endblock header %}
 {% block content %}
 <div class="col-md-12 pad">
  <a  href="#addMember" data-toggle="modal" class="btn btn-sm btn-warning"><span class="glyphicon glyphicon-plus"> </span> Add Member</a>  

  <a  href="#addGroup" data-toggle="modal" class="btn btn-sm btn-success"><span class="glyphicon glyphicon-plus"> </span> Add Group</a>  
   
 </div>


  <div class="col-md-12">

    <table id="myTable" class="table table-striped table-hover" width="100%">
      <tr class="header">
        <th style="width:5%;"></th>
        <th style="width:15%;">Full Name</th>
        <th style="width:5%;">Gender</th>
        <th style="width:10%;">Marital Status</th>
        <th style="width:10%;">Email</th>
        <th style="width:10%;">Phone</th>
        <th style="width:10%;">Member Status</th>
        
        </tr>
        {% for rw in members %}
          <tr>
            <td>
              <center>{% if rw.image %}
                <a href="#member{{rw.id}}" data-toggle="modal">
                    <img src="/media/{{rw.image}}" height="30" class="img-fluid rounded"></a>
                    {% else %}
                    <a href="#member{{rw.id}}" data-toggle="modal">
                    <img src="{% if rw.gender == 'Female' %}{% static '/img/avatar4.png' %}{% else %}{% static '/img/avatar1.png' %}{% endif %} " height="25" class="img-fluid rounded"></a>
                    {% endif %}
            </center>
          </td>
            <!-- <td style="text-transform:capitalize; padding: 10px 0 10px 0"></span>
              <a href="#member{{rw.id}}" data-toggle="modal">{{rw.fname}} {{rw.lname}}</a></td> -->
              <td>
              <a href="#member{{rw.id}}" data-toggle="modal">{{rw.first_name}} 
              {% if not rw.last_name %}
                {% else %}
              {{rw.last_name}}
              {% endif %}</a></td>
            <td>{{rw.gender}}</td>
            <td>{% if not rw.marital_status %}
                {% else %}
              {{rw.marital_status}}
              {% endif %}</td>
            <td>{% if not rw.email %}
                {% else %}
              {{rw.email}}
              {% endif %}</td>
            <td>{% if not rw.phone %}
                {% else %}
              {{rw.phone}}
              {% endif %}</td>
            <td>{{rw.member_status}}</td>
            
          </tr>
      {% endfor %} 
    </table>
  </div>
      <div class="col-md-12" style="padding-bottom: 30px;">
        <nav>
            <ul class="pagination">
              <li>{% if members.has_previous %}
                <a href="?{{page_request_var}}={{ members.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }} {% endif%}">
                  <span aria-hidden="true">&laquo;</span>
                </a>
                 {% endif %}
              </li>

              <li><a href="#">{{ members.number }} of {{ members.paginator.num_pages }}</a></li>

              <li>{% if members.has_next %}
                <a href="?{{page_request_var}}={{ members.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }} {% endif%}">
                  <span aria-hidden="true">&raquo;</span>
                </a>
                {% endif %}
              </li>
            </ul>
        </nav>
      </div>


      {% for rw in members %}
      <!-- Modal -->
        <div class="modal right fade"  id="member{{rw.id}}"  tabindex="-1" role="dialog" aria-labelledby="myModalLabel2">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header bg-dark">
              <button type="button"  class="close" data-dismiss="modal" aria-hidden="true">          Close</button>
           </div>
              <div class="modal-body">
                <iframe src="{% url 'member-detail' rw.id %}" frameborder="0" height="600" width="100%"></iframe>
                </p>
              </div> 
      
            </div><!-- modal-content -->
          </div><!-- modal-dialog -->
        </div><!-- modal -->
      
      {% endfor %}


<script type="text/javascript">
  (function ($) {
  $.fn.countTo = function (options) {
    options = options || {};
    
    return $(this).each(function () {
      // set options for current element
      var settings = $.extend({}, $.fn.countTo.defaults, {
        from:            $(this).data('from'),
        to:              $(this).data('to'),
        speed:           $(this).data('speed'),
        refreshInterval: $(this).data('refresh-interval'),
        decimals:        $(this).data('decimals')
      }, options);
      
      // how many times to update the value, and how much to increment the value on each update
      var loops = Math.ceil(settings.speed / settings.refreshInterval),
        increment = (settings.to - settings.from) / loops;
      
      // references & variables that will change with each update
      var self = this,
        $self = $(this),
        loopCount = 0,
        value = settings.from,
        data = $self.data('countTo') || {};
      
      $self.data('countTo', data);
      
      // if an existing interval can be found, clear it first
      if (data.interval) {
        clearInterval(data.interval);
      }
      data.interval = setInterval(updateTimer, settings.refreshInterval);
      
      // initialize the element with the starting value
      render(value);
      
      function updateTimer() {
        value += increment;
        loopCount++;
        
        render(value);
        
        if (typeof(settings.onUpdate) == 'function') {
          settings.onUpdate.call(self, value);
        }
        
        if (loopCount >= loops) {
          // remove the interval
          $self.removeData('countTo');
          clearInterval(data.interval);
          value = settings.to;
          
          if (typeof(settings.onComplete) == 'function') {
            settings.onComplete.call(self, value);
          }
        }
      }
      
      function render(value) {
        var formattedValue = settings.formatter.call(self, value, settings);
        $self.html(formattedValue);
      }
    });
  };
  
  $.fn.countTo.defaults = {
    from: 0,               // the number the element should start at
    to: 0,                 // the number the element should end at
    speed: 1000,           // how long it should take to count between the target numbers
    refreshInterval: 100,  // how often the element should be updated
    decimals: 0,           // the number of decimal places to show
    formatter: formatter,  // handler for formatting the value before rendering
    onUpdate: null,        // callback method for every time the element is updated
    onComplete: null       // callback method for when the element finishes updating
  };
  
  function formatter(value, settings) {
    return value.toFixed(settings.decimals);
  }
}(jQuery));

jQuery(function ($) {
  // custom formatting example
  $('.count-number').data('countToOptions', {
  formatter: function (value, options) {
    return value.toFixed(options.decimals).replace(/\B(?=(?:\d{3})+(?!\d))/g, ',');
  }
  });
  
  // start all the timers
  $('.timer').each(count);  
  
  function count(options) {
  var $this = $(this);
  options = $.extend({}, options || {}, $this.data('countToOptions') || {});
  $this.countTo(options);
  }
});

</script>




    <script type="text/javascript">

Highcharts.chart('container', {
    chart: {
        type: 'pie',
        options3d: {
            enabled: true,
            alpha: 45,
            beta: 0
        }
    },
    title: {
        text: ''
    },
    tooltip: {
        pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
    },
    plotOptions: {
        pie: {
            allowPointSelect: true,
            cursor: 'pointer',
            depth: 35,
            dataLabels: {
                enabled: true,
                format: '{point.name}'
            }
        }
    },
    series: [{
        type: 'pie',
        name: 'share',
        data: [
            
            ['Female', {{totalFemale}}],
            {
                name: 'Male',
                y: {{totalMen}},
                sliced: true,
                selected: true
            },
        ]
    }]
});

    </script>

    <script type="text/javascript">
      function myFunction() {
  var input, filter, table, tr, td, i;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("Table");
  tr = table.getElementsByTagName("tr");
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[0];
    if (td) {
      if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  }
}
    </script>
{% endblock %}
<!-- InstanceEndEditable -->

