{% extends "base_b.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% block container %}
<style type="text/css">
    #printable { display: none; }

    @media print
    {
        #non-printable { display: none; }
        #printable { display: block; }
    }
</style>

<div class="col-md-12" style="font-size: 14px !important; text-transform: capitalize;">
  <div class="row">
    <div class="col-md-5" id="non-printable"><center>
        <a href="{% url 'all_receipts' client_id %}" class="btn btn-info">View All Receipts</a>
        <button class="btn btn-md btn-warning"  onclick="myFunction()">Print Receipt</button>
        <a href="{% url 'transaction' client_id %}" class="btn btn-info">Another Payment</a>
      </center>
    </div>
<div class="col-md-7">
    <center>
      <img src="{% static '/img/logo.png' %}" class="img-fluid" width="120"><br />
    <strong>RECEIPT</strong><br />

    {% for rw in rc %}
      <strong>{{rw.fname}} {{rw.lname}}</strong><br />
      <strong>Amount</strong> : {{rw.currency}} {{rw.amount}} <br />
      <strong>Purpose</strong> : {{rw.purpose}}<br />
      <strong>Payment Type</strong>: {{rw.commitment}} <br />
      {% if rw.ref %}
        <strong>Payment Referrence</strong>: {{rw.ref}} 
        {% endif %}
      <br />
      <strong>Cashier</strong> : {{ user.username }}<br />
      {{rw.timestamp}}

    {% endfor %}
    <br />
      </center>   
    </div>
  </div> 
  </div>
<script>
function myFunction() {
    window.print();
}
</script>

{% endblock %}
