{% extends "base_b.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block container %}
<div class="col-12">
       <form  method="post" name="form"  action="" enctype="multipart/form-data">{% csrf_token %}
        <div class="row">
            <div class="col-12 padAll">
                <input type="text" class="form-control form-control-sm" value="" name="title" placeholder="Sermon title">
            </div>
            <div class="col-6 padAll">
                <select name="event" class="form-control form-control-sm">
                    {% for r in d %}
                    {% if r.category == 'event' %}
                    <option value="{{r.name}}">{{r.name}}</option>
                    {% endif %}
                    {% endfor %}
                </select>
            </div>
            <div class="col-6 padAll">
                <select name="venue" class="form-control form-control-sm">
                    {% for r in d %}
                    {% if r.category == 'zone' %}
                    <option value="{{r.name}}">{{r.name}}</option>
                    {% endif %}
                    {% endfor %}
                </select>
            </div>
        <div class="col-6 padAll">
            <select name="preacher" class="form-control">
           {% for r in d %}
           {% if r.category == 'preacher' %}
            <option value="{{r.name}}">{{r.name}}</option>
            {% endif %}
           {% endfor %}
        </select>
        </div>
        <div class="col-12 padAll">
            <textarea  name="notes" rows="14" class="form-control"></textarea>
        </div>
            
     <div class="col-md-12 padAll">
        <button type="submit" class="btn btn-sm btn-info">Save</button>
         <button type="reset" class="btn btn-sm btn-info">Clear</button>
    </div>
        
        </div>   
        
    <input type="hidden" name="user" value="{{user.id}}">
    </form>
  </div>  
{% endblock %}
