{% extends "base_login.html" %}
{% load static %}
{% load crispy_forms_tags %}

 {% block container %}
    
 <form  method="post" name="img_form" id="img_form"  action="" enctype="multipart/form-data">{% csrf_token %}
 	<div class="col-md-12" style="padding-bottom: 20px">
 	<select name="zone" class="form-control">
 		<option>Choose Zone</option>
 		<option value="ioc">IOC</option>
 		<option value="mufakose">Mufakose</option>
 	</select>
 </div>
 <div class="col-md-12" style="padding-bottom: 20px">
 	<select name="department" class="form-control">
 		<option>Choose Department</option>
 		<option value="finance">Finance</option>
 		<option value="media">Media</option>
 	</select>
 </div>
 <div class="col-md-12 padAll">	
    <h5> Please upload your photo below</h5>
    {{img_form.avatar|as_crispy_field:"bootstrap"}}
    <input type="hidden" name="rootid" value="{{user.id}}">
    <input type="hidden" name="access_level" value="1"><br />
	<button type="submit" class="btn btn-sm btn-info">Upload Your Image</button>
</div>	
</form>

{% endblock %}