<div class="col-md-12">
    <div class="col-md-4">
      <div class="counter">
        <i class="fa fa-users fa-2x"></i>
        <h2 class="count-title">{{totalCount}}</h2>
        <p class="count-text ">Total Members</p>
      </div>
    </div>
<div class="col-md-4">
  <div class="counter">
    <i class="fa fa-female fa-2x"></i>
    <h2 class="count-title">{{totalFemale}}</h2>
    <p class="count-text ">Women</p>
  </div>
</div>
  <div class="col-md-4">
    <div class="counter">
    <i class="fa fa-male fa-2x"></i>
    <h2 class="count-title">{{totalMen}}</h2>
    <p class="count-text ">Men</p>
  </div>
</div>
</div>